<h3>会員情報編集</h3>
<%= form_with model: @customer, url: admin_customer_path do |f| %>
<table>
  <tr>
    <th>会員ID</th>
    <td><%= @customer.id %></td>
  </tr>
  <tr>
    <th>氏名</th>
    <td>
      <div>
        <p><%= f.text_field :first_name, placeholder:current_customer.first_name, class: "form-control first_name" %>
             <%= f.text_field :last_name,placeholder:current_customer.last_name, class: "form-control last_name" %>
        </p>
      </div>
    </td>
  </tr>
  <tr>
    <th>フリガナ</th>
    <td>
       <div>
        <p><%= f.text_field :first_name_kana, placeholder:current_customer.first_name_kana, class: "form-control first_name_kana" %>
           <%= f.text_field :last_name_kana, placeholder:current_customer.last_name_kana, class: "form-control last_name_kana" %>
        </p>
       </div>
    </td>
  </tr>
  <tr>
    <th>郵便番号</th>
    <td>
       <div>
        <p><%= f.text_field :postal_code, placeholder:current_customer.postal_code, class: "form-control postal_code" %> </p>
       </div>
    </td>
  </tr>
  <tr>
    <th>住所</th>
    <td>
       <div>
        <p><%= f.text_field :address, placeholder:current_customer.address, class: "form-control address" %> </p>
       </div>
    </td>
  </tr>
   <tr>
    <th>電話番号</th>
    <td>
       <div>
        <p><%= f.text_field :telephone_number, placeholder:current_customer.telephone_number, class: "form-control telephone_number" %> </p>
       </div>
    </td>
  </tr>
  <tr>
    <th>メールアドレス</th>
    <td>
       <div>
        <p><%= f.text_field :email, placeholder:current_customer.email, class: "form-control email" %> </p>
       </div>
    </td>
  </tr>
  <tr>
    <th><%= f.label :is_deleted, "会員ステータス" %></th>
    <td><%= f.radio_button :is_deleted, "true" %><%= f.label :is_deleted, "退会" %>
        <%= f.radio_button :is_deleted, "false" %><%= f.label :is_deleted, "有効" %></td>
  </tr>
</table>


<%= f.submit "変更を保存" %>

<% end %>



