<h3>注文履歴詳細</h3>

<table>
  <tbody>
    <tr>
      <td>購入者</td>
      <td><%= @customer.first_name %><%= @customer.last_name %></td>
    </tr>
    <tr>
      <td>注文日</td>
      <td><%= @order.created_at.strftime('%Y/%m/%d') %></td>
    </tr>
    <tr>
      <td>配送先</td>
      <td><%= @order.address_display %></td>
    </tr>
    <tr>
      <td>支払方法</td>
      <td><%= @order.payment_method_i18n %></td>
    </tr>
    <tr>
      <td>注文ステータス</td>
      <td>
      <%= form_with model: @order, url: admin_order_path(@order.id) do |f| %>
        <%= f.select :is_ordered, Order.is_ordereds_i18n.invert %>
        <%= f.submit "更新" %>
      <% end %>
      </td>
    </tr>
  </tbody>
</table>


<table>
  <thead>
    <tr>
      <td>商品名</td>
      <td>単価（税込み）</td>
      <td>数量</td>
      <td>小計</td>
      <td>製作ステータス</td>
    </tr>
  </thead>
  <% @order_details.each do |order_detail| %>
  <tbody>
    <tr>
      <td><%= order_detail.item.name %></td>
      <td><%= order_detail.add_tax_price %></td>
      <td><%= order_detail.items_amount %></td>
      <td><%= order_detail.subtotal %></td>

       <td>
         <%= form_with model: @order_detail, url: admin_order_detail_path(@order.id) do |f| %>
          <%= f.select :is_maked, OrderDetail.is_makeds_i18n.invert %>
          <%= f.submit "更新" %>
         <% end %>
      </td>
    </tr>
  </tbody>
  <% end %>
</table>

<table>
  <tr>
    <td>商品合計</td>
    <td><%= @total.round.to_s(:delimited) %></td>
  </tr>
  <tr>
    <td>送料</td>
    <td><%= @order.postage %></td>
  </tr>
  <tr>
    <td>請求金額合計</td>
    <td><%= @order.payment_amount.round.to_s(:delimited) %></td>
  </tr>
</table>

