<div class="container m-4">
  <h3 class="mb-3"><span class="bg-warning">注文履歴一覧</span></h3>

  <table class="table">
    <thead>
      <tr class="table-warning">
        <th><h6>購入日時</h6></th>
        <th><h6>購入者</h6></th>
        <th><h6>注文個数</h6></th>
        <th><h6>注文ステータス</h6></th>
      </tr>
    </thead>
    <% @orders.each do |order| %>
    <tbody>
      <tr>
        <td><%= link_to order.created_at.strftime('%Y/%m/%d %H:%M:%S'), admin_order_path(order.id) %></td>

        <td><%= order.customer.first_name %><%= order.customer.last_name %></td>

        <% sum = 0 %>
        <% order.order_details.each do |order_detail| %>

        <% sum += order_detail.items_amount %>

        <% end %>
        <td><%= sum %></td>
        <td><%= order.is_ordered_i18n %></td>
      </tr>
    </tbody>
    <% end %>
  </table>

  <%= paginate @orders %>
</div>

