<h3>配送先登録/一覧</h3>

<%= form_with model: @address, url: addresses_path do |f| %>
<table>
    <tr>
      <div class="field">
      <th>
        <%= f.label :postal_code,"郵便番号（ハイフンなし）" %>
      </th>
      <td>
        <%= f.text_field :postal_code, autofocus: true %>
      </td>
      </div>
    </tr>
    <tr>
      <div class="field">
      <th>
        <%= f.label :address,"住所" %>
      </th>
      <td>
        <%= f.text_field :address, autofocus: true %>
      </td>
      </div>
    </tr>
    <tr>
      <div class="field">
      <th>
        <%= f.label :name,"宛名" %>
      </th>
      <td>
        <%= f.text_field :name, autofocus: true %> <%= f.submit "新規登録" %>
      </td>
      </div>
    </tr>
  </table>
<% end %>
  <table>
    <thead>
      <tr>
        <td>郵便番号</td>
        <td>住所</td>
        <td>宛名</td>
        <td></td>
      </tr>
    </thead>
    <tbody>
      <% @addresses.each do |addresses| %>
      <tr>
        <td><%= addresses.postal_code %></td>
        <td><%= addresses.address %></td>
        <td><%= addresses.name %></td>
        <td><%= link_to "編集する", edit_address_path(addresses.id) %>
            <%= link_to "削除する", address_path(addresses.id), method: :delete %></td>
      </tr>
       <% end %>
    </tbody>
   </table>

