<div class="container-fluid p-5">

  <h2 class="pb-3 font-weight-bold"><span class="bg-warning">ログイン</span></h2>
  <div class="pl-3">
    <h4 class="pb-3">会員の方はこちらからログイン</h4>

    <%= form_with model: @customer, url: new_customer_session_path do |f| %>
      <div class="field">
        <%= f.label :email, "メールアドレス" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="field">
        <%= f.label :password,"パスワード" %>
        <%= f.password_field :password, autocomplete: "current-password" %>
      </div>

     <div class="row">
      <div class="col-3 pt-3 actions">
          <%= f.submit "ログイン" ,class:"btn btn-secondary" %>
      </div>
    </div>

    <% end %>

    <h4 class="pt-5 pb-3"><span class="bg-warning-subtle">会員登録がお済みでない方</span></h4>
    <h5><%= link_to "こちら", new_customer_registration_path %>から新規登録を行ってください。</h5>

  </div>
</div>