<div class="container p-5">

<h1>商品一覧(全<%= @items_amount.where(is_active: true).count %>件)</h1>



  <div class="row justify-content-around" >

      <% @items.each do |item| %>
        <%= link_to item_path(item.id) do %>
          <%= image_tag item.image,size: "250x250" %>

          <p><%= item.name %></p>

          <p>￥<%= item.add_tax_price %></p>
        <% end %>
      <% end %>
  </div>

  <%= paginate @items %>
 </div>