
<%= image_tag @item.image %>

<%= form_with model: @cart_item, url: cart_items_path do |f| %>

<table>
  <tbody>
    <tr>
      <td><%= @item.name %></td>
    </tr>
    <tr>
      <td><%= @item.introduction %></td>
    </tr>
     <tr>
      <td>¥<%= @item.add_tax_price.to_s(:delimited) %></td>
    </tr>
    <tr>
      <td>
        <%= f.select :amount, [["1個", "1"], ["2個", "2"],["3個","3"],["4個","4"]], include_blank: "個数選択" %>
        <%= f.submit "カートに入れる"%>
        <%= f.hidden_field :item_id, :value => @item.id %>
        <%= f.hidden_field :customer_id, :value => current_customer.id %>
      </td>
    </tr>
  </tbody>
</table>


<% end %>